<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gfx.web.common.dao.mapper.DirMapper">
  <resultMap id="BaseResultMap" type="com.gfx.web.common.entity.Dir">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <id column="cid" jdbcType="VARCHAR" property="cid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
  </resultMap>
  <select id="getListDirByType" resultType="com.gfx.web.common.entity.Dir">
    SELECT id,cid,NAME FROM dir WHERE cid = #{cid}
  </select>

</mapper>