<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gfx.web.common.dao.mapper.StockOperatorMapper">
  <resultMap id="BaseResultMap" type="com.gfx.web.common.entity.StockOperator">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="record_id" jdbcType="VARCHAR" property="recordId" />
    <result column="goods_id" jdbcType="VARCHAR" property="goodsId" />
    <result column="goods_type" jdbcType="VARCHAR" property="goodsType" />
    <result column="stock_type" jdbcType="VARCHAR" property="stockType" />
    <result column="goods_size" jdbcType="VARCHAR" property="goodsSize" />
    <result column="goods_quality" jdbcType="VARCHAR" property="goodsQuality" />
    <result column="goods_number" jdbcType="INTEGER" property="goodsNumber" />
    <result column="repository_id" jdbcType="VARCHAR" property="repositoryId" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="sale_man" jdbcType="VARCHAR" property="saleMan" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="operator_date" jdbcType="TIMESTAMP" property="operatorDate" />
  </resultMap>
</mapper>