<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gfx.web.common.dao.mapper.StorageMapper">
  <resultMap id="BaseResultMap" type="com.gfx.web.common.entity.Storage">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="goods_id" jdbcType="VARCHAR" property="goodsId" />
    <result column="goods_type" jdbcType="VARCHAR" property="goodsType" />
    <result column="goods_quality" jdbcType="VARCHAR" property="goodsQuality" />
    <result column="goods_size" jdbcType="VARCHAR" property="goodsSize" />
    <result column="current_num" jdbcType="INTEGER" property="currentNum" />
    <result column="init_num" jdbcType="INTEGER" property="initNum" />
    <result column="repository_id" jdbcType="VARCHAR" property="repositoryId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="storage_status" jdbcType="VARCHAR" property="storageStatus" />
  </resultMap>
    <select id="checkExist" resultType="com.gfx.web.common.entity.Storage">
      SELECT id,goods_id,goods_type,current_num,init_num,repository_id from storage
        WHERE storage_status = '0'
              AND goods_id=#{goodsId}
              and goods_quality=#{goodsQuality}
              and goods_type = #{goodsType}
    </select>
    <select id="getStorageAjax" resultType="com.gfx.web.common.entity.Storage">
        SELECT id,current_num,repository_id FROM storage
        WHERE storage_status = '0'
              AND goods_id = #{goodsId}
              and goods_type=#{goodsType}
              and goods_quality=#{goodsQuality}
        <if test="repositoryId!=null and repositoryId!=''">
            and repository_id=#{repositoryId}
        </if>
    </select>
    <select id="getStorageList" resultType="com.gfx.web.app.stock.dto.StorageDto">
        SELECT
            s.id,
            s.goods_id,
            s.repository_id,
            s.current_num,
            s.goods_size,
            s.init_num,
            d1.name as goodsTypeName,
            d2.NAME as goodsQualityName
          FROM storage s
            LEFT JOIN dir d1 ON s.goods_type = d1.id
            LEFT JOIN dir d2 ON s.goods_quality = d2.id
        WHERE s.storage_status = '0'
        <if test="params.goodsType!=null and params.goodsType!=''">
            AND s.goods_type = #{params.goodsType}
        </if>
        <if test="params.goodsId!=null and params.goodsId!=''">
            and s.goods_id like concat("%",#{params.goodsId},"%")
        </if>
        <if test="params.goodsSize!=null and params.goodsSize!=''">
            and s.goods_size like concat("%",#{params.goodsSize},"%")
        </if>
        order by s.goods_id,s.goods_quality
    </select>
</mapper>